
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding:0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* SECTION HOME */

.home-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
	background-image:url("/images/baner.jpg");
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}
.motto-all
{
	background:rgba(0,0,0,0.2);
	padding:30px;
	height:300px;
	border:#fac11c 1px solid;
}
.logo
{
	margin-top:40px;
}
h1.motto
{
	font-size:36px;
	color:#fff;
	font-weight:bold;
	margin:10px auto 25px auto;
	text-transform:uppercase;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
h1.motto span
{
	color:#fac11c;
}
.home-section a
{
	font-size:16px;
	color:#202c3a;
	font-weight:bold;
	margin:20px auto;
	text-transform:uppercase;
	padding:15px 25px;
	background:#fac11c;
	text-decoration:none;
	border:1px solid #202c3a;
}
@media (max-width: 768px){
.motto-all
{

	height:400px;
}
h1.motto
{
	font-size:26px;
}
}
/* SECTION HOME - END */


/* SECTION ABOUT */
.about-section {
    height: 100%;
	width:100%;
    padding-top: 150px;
    text-align: center;
    background: #1f2d3a;
	display:table;
}
h2.kol-2
{
	margin-bottom:20px;
	margin-left:10%;
	font-size:25px;
	color:#fac11c;
	text-transform:uppercase;
}
.tblk-col-1
{
	color:#fac11c;
	font-size:20px;
}
.tblk-col-2
{
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
}
.text-white
{
	color:#fff;
	margin-bottom:25px;
}
.text-white-1
{
	color:#fff;
}
.text-yellow
{
	color:#fac11c;
	margin-bottom:25px;
}
.text-yellow-1
{
	color:#fac11c;
}
/* SECTION ABOUT - END */


/* SECTION SERVICES */
.services-section {
    height: 100%;
	width:100%;
    padding-top: 150px;
    text-align: center;
    background: #182430;
	display:table;
}
ul.instalacje
{
	color:#fff;
	text-align:left;
}
/* SECTION SERVICES - END */

/* SECTION CONTACT */
.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #1f2d3a;
	display:table;
	width:100%;
}
/* SECTION CONTACT - END */

/* FOOTER */
footer
{
	background:#182430;
	height:60px;
	padding-top:20px;
	color:#fff;
	text-align:center;
	font-size:16px;
}
footer a
{
	color:#fac11c;
	text-decoration:none;
	font-weight:bold;
}
/* FOOTER - END */
